form {
    display: flex;
    width: 100%;
    justify-content: center;
}
fieldset {
    width: 980px;
    margin-top: 40px;
    padding: 12px 10px;
    .fieldset-tag-is-buggy-af {
    display: flex;
    justify-content: space-between;
    }
    .form-block {
        width: 100%;
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans Condensed';
        font-size: 14px;
    }
    .form-block:nth-of-type(3),
    .form-block:nth-of-type(4) {
        flex-shrink: 2;
    }
    input {
        margin-top: 3px;
        height: 32px;
        font-size: 16px;
        box-sizing: border-box;
        border: 1px solid $bbgray-light;
        padding-left: 4px;
    }
    input[type=number] {
        max-width: 96px;
        padding-left: 6px;
        -moz-appearance: textfield;
        appearance: textfield;
    }
    input[type=submit] {
        margin-left: 5px;
        width: 70%;
        height: 32px;
        background: $bbgray;
        border: 1px solid $bbgray;
        align-self: flex-end;
        font-family: 'Open Sans Condensed';
        font-size: 14px;
        color: white;
    }

    // (KEEP THIS FOR LATER, when you feel like messing with input[number] spinners)
    // input[type=number] { 
    //     -moz-appearance: textfield;
    //     appearance: textfield;
    //     margin: 0; 
    // }
    // input[type=number]::-webkit-inner-spin-button, 
    // input[type=number]::-webkit-outer-spin-button { 
    //   -webkit-appearance: none; 
    //   margin: 0; 
    // }

}