.room-info-top {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 980px;
    padding-bottom: 25px;
    a {
        height: 20px;
        width: 20px;
        margin-right: 24px;
        img {
            height: 20px;
            width: 20px;
        }
    }
    h3 {
        font-family: 'Open Sans Condensed';
        font-size: 28px;
        width: 100%;
        padding-left: 24px;
        border-left: solid 1px $bbgray-light;
    }
}

.room-info-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 980px;
    padding-bottom: 70px;
    .room-info-left {
        width: 100%;
        max-width: 649px;
        min-width: 314px;
        margin-right: 20px;
        .carousel-indicators {
            right: unset;
            bottom: -68px;
            margin: 0;
            li {
                width: 58px;
                height: 48px;
                background-size: cover;
                opacity: 1;
                margin: 0 6px 0 0;                
            }
            .gallery-indicator-01 {
                background-image: url(../assets/rooms_gallery_01.jpg);
            }
            .gallery-indicator-02 {
                background-image: url(../assets/rooms_gallery_02.jpg);
            }
            .gallery-indicator-03 {
                background-image: url(../assets/rooms_gallery_03.jpg);
            }
            .gallery-indicator-04 {
                background-image: url(../assets/rooms_gallery_04.jpg);
            }
            .gallery-indicator-05 {
                background-image: url(../assets/rooms_gallery_05.jpg);
            }
        }
        .carousel-item {
            img {
                height: 408px;
                object-fit: cover;
            }
        }

        .room-description-full {
            margin-top: 70px;
            font-family: 'Open Sans Condensed';
            .room-description-left {
                width: 100%;
                max-width: 190px;
                font-weight: 700;
            }
            .room-properties, .room-more-info, .amenities, .room-terms {
                padding: 60px 0 30px 0;
                border-bottom: 1px solid $bbgray-light;
                display: flex;
                .room-properties-listed {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        width: 50%;
                        margin-bottom: 12px;
                    }
                }
            }
            .room-more-info {
                p {
                    line-height: 1.5em;
                }
            }
            .amenities {
                .amenities-listed {
                    display: flex;
                    flex-wrap: wrap;
                    .amenity-span {
                        display: flex;
                        align-items: flex-end;
                        width: 50%;
                        margin-bottom: 12px;
                        img {
                            height: 25px;
                            width: 25px;
                        }
                        span {
                            margin-left: 7px;
                        }
                    }
                }
            }
            .room-terms {
                border: none;
                a {
                    text-decoration: none;
                    color: #000000;
                    line-height: 1.5em;
                    text-decoration: underline;
                }
            }
        }
    }
    form {
        position: -webkit-sticky;
        position: sticky;
        top: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 260px;
        height: 421px;
        flex-shrink: 0;
        border: 1px solid $bbgray-light;
        padding: 19px;
        .price-per-night {
            border-left: 1px solid $bbgray-light;
            font-family: 'Open Sans Condensed';
            padding-left: 13px;
            margin-bottom: 22px;
            p {
                font-size: 14px;
            }
            h6 {
                font-size: 40px;
                margin: 10px 0 10px 0;
            }
        }
    }
    fieldset {
        width: 100%;
        padding: 0;
        margin: 0;
        .because-fieldset-tag-is-buggy-af {
        display: flex;
        flex-direction: column;
        align-items: center;
            .form-block {
                width: 100%;
                max-width: 100%;
                padding: 0;
                display: flex;
                flex-direction: column;
                font-family: 'Open Sans Condensed';
                font-size: 14px;
                margin-top: 5px;
            }
            .form-block:nth-of-type(3),
            .form-block:nth-of-type(4) {
                flex-shrink: unset;
            }
            input {
                margin-top: 3px;
                height: 32px;
                font-size: 14px;
                box-sizing: border-box;
                border: 1px solid $bbgray-light;
                padding-left: 4px;
            }
            input[type=number] {
                width: 100%;
                max-width: 100%;
                padding-left: 6px;
                -moz-appearance: textfield;
                appearance: textfield;
            }
            input[type=submit] {
                margin: 23px 0 0 0;
                width: 100%;
                height: 32px;
                background: $bbgray;
                border: 1px solid $bbgray;
                align-self: unset;
                font-family: 'Open Sans Condensed';
                font-size: 14px;
                color: white;
            }
        }
    }
}