.gallery-indicator-01-standard {
    background-image: url(../assets/rooms_gallery_08.jpg);
}
.gallery-indicator-02-standard {
    background-image: url(../assets/rooms_gallery_07.jpg);
}
.gallery-indicator-03-standard {
    background-image: url(../assets/rooms_gallery_06.jpg);
}
.gallery-indicator-04-standard {
    background-image: url(../assets/rooms_gallery_04.jpg);
}
.gallery-indicator-05-standard {
    background-image: url(../assets/rooms_gallery_05.jpg);
}