.gallery-indicator-01-superior {
    background-image: url(../assets/rooms_gallery_11.jpg);
}
.gallery-indicator-02-superior {
    background-image: url(../assets/rooms_gallery_10.jpg);
}
.gallery-indicator-03-superior {
    background-image: url(../assets/rooms_gallery_09.jpg);
}
.gallery-indicator-04-superior {
    background-image: url(../assets/rooms_gallery_04.jpg);
}
.gallery-indicator-05-superior {
    background-image: url(../assets/rooms_gallery_05.jpg);
}