.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 147px 0 3px 0;
}

h1 {    
    text-align: center;
    font-family: BrandonGrotW01-Light, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #242323;
}